[Unit]
Description=Periodically make sure this machine is on the tailnet

[Timer]
OnStartupSec=2min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
